<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(pageTitle, content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="|${pageTitle} - Shadleaf Sample App 1|">Shadleaf Sample App 1</title>
  <th:block th:replace="~{sl/layout :: assets}"></th:block>
  <vite:client></vite:client>
  <vite:vite>
    <vite:entry value="/css/application.css"></vite:entry>
  </vite:vite>
</head>
<body>
<main>
  <h1 th:text="${pageTitle}"></h1>
  <div th:replace="${content}"></div>
</main>
</body>
</html>
