<!-- <th:block th:object="${form}"><sl:form-errors/></th:block> -->
<div class="form-errors alert" data-variant="destructive" tabindex="-1" id="form-errors">
  <svg xmlns="http://www.w3.org/2000/svg" class="sl-icon" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false"></svg>
  <div class="alert-title">There is a problem</div>
  <div class="alert-description">
    <ul>
      <li>The passwords do not match.</li>
      <li>The service is not available.</li>
    </ul>
  </div>
</div>

<!-- <th:block th:object="${form}"><sl:form-errors title="Could not sign you up" level="2"/></th:block> -->
<div class="form-errors alert" data-variant="destructive" tabindex="-1" id="form-errors">
  <svg xmlns="http://www.w3.org/2000/svg" class="sl-icon" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false"></svg>
  <div class="alert-title" role="heading" aria-level="2">Could not sign you up</div>
  <div class="alert-description">
    <ul>
      <li>The passwords do not match.</li>
      <li>The service is not available.</li>
    </ul>
  </div>
</div>

<!-- <th:block th:object="${form}"><sl:form-errors show="all"/></th:block> -->
<div class="form-errors alert" data-variant="destructive" tabindex="-1" id="form-errors">
  <svg xmlns="http://www.w3.org/2000/svg" class="sl-icon" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false"></svg>
  <div class="alert-title">There is a problem</div>
  <div class="alert-description">
    <ul>
      <li>The passwords do not match.</li>
      <li>The service is not available.</li>
      <li>is taken</li>
    </ul>
  </div>
</div>

<!-- <th:block th:object="${form}"><sl:form-errors>The payment service did not answer. Try again in a minute.</sl:form-errors></th:block> -->
<div class="form-errors alert" data-variant="destructive" tabindex="-1" id="form-errors">
  <svg xmlns="http://www.w3.org/2000/svg" class="sl-icon" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false"></svg>
  <div class="alert-title">There is a problem</div>
  <div class="alert-description">The payment service did not answer. Try again in a minute.</div>
</div>
