<!-- <sl:input type="text" name="x"/> -->
<input class="input" type="text" name="x">

<!-- <sl:input type="email" name="x"/> -->
<input class="input" type="email" name="x">

<!-- <sl:input type="password" name="x"/> -->
<input class="input" type="password" name="x">

<!-- <sl:input type="number" name="x"/> -->
<input class="input" type="number" name="x">

<!-- <sl:input type="search" name="x"/> -->
<input class="input" type="search" name="x">

<!-- <sl:input type="tel" name="x"/> -->
<input class="input" type="tel" name="x">

<!-- <sl:input type="url" name="x"/> -->
<input class="input" type="url" name="x">

<!-- <sl:input type="date" name="x"/> -->
<input class="input" type="date" name="x">

<!-- <sl:input type="datetime-local" name="x"/> -->
<input class="input" type="datetime-local" name="x">

<!-- <sl:input type="month" name="x"/> -->
<input class="input" type="month" name="x">

<!-- <sl:input type="week" name="x"/> -->
<input class="input" type="week" name="x">

<!-- <sl:input type="time" name="x"/> -->
<input class="input" type="time" name="x">

<!-- <sl:input type="file" name="x"/> -->
<input class="input" type="file" name="x">

<!-- <sl:input/> -->
<input class="input" type="text">

<!-- <sl:input type="email" id="email" name="email" placeholder="you@example.com" required/> -->
<input class="input" type="email" id="email" name="email" placeholder="you@example.com" required>

<!-- <sl:input name="code" disabled value="ABC"/> -->
<input class="input" type="text" name="code" disabled value="ABC">

<!-- <sl:input name="email" aria-invalid="true" aria-describedby="email-error"/> -->
<input class="input" type="text" name="email" aria-invalid="true" aria-describedby="email-error">

<!-- <sl:input th:type="${'search'}" name="q" hx-get="/search" hx-trigger="input changed delay:300ms" class="w-64"/> -->
<input class="input w-64" type="search" name="q" hx-get="/search" hx-trigger="input changed delay:300ms">
